html, body {
    margin: 0;
    height: auto;
    width: 100%;
    font-size: 20px;
    font-family: "Monaco", monospace;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    overflow: visible;
    -webkit-flex-wrap: warp;
    flex-wrap: wrap;
}

p {
    margin: 10px;
    height: auto;
}

main {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;

    width: 550px;
    height: auto;
    margin: 0;
}

#display {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    height: auto;
}

.row {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    height: auto;
}

.box {
    width: 255px;
    height: 255px;
    margin: 10px;
    background-color: white;
}

@media (max-width: 640px) {
    .box {
        width: 155px;
        height: 155px;
    }
}

@media (max-width: 350px) {
    .box {
        width: 100px;
        height: 100px;
    }
}

button#newgame {
    height: 50px;
    width: 100px;
    border: none;
    text-decoration: none;
    font-family: inherit;
    font-size: 16px;
    background-color: #DBDEE5;
}

#yellow {
    background-color: yellow;
}

#blue {
    background-color: blue;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}